<% layout("../common/globle.html"){ %>
<div class="col-md-9 doc-content">


    <h1 id="overview" class="page-header">Overview
        <a class="header-anchor" href="#overview" name="overview"></a>
    </h1>


    <div class="alert alert-info" role="alert">
        <strong>Work in progress!</strong>
        We will provide more precompiled binary versions as well as checksums soon.
    </div>

    <pre>
                <code>docker run -p 9090:9090 -v /tmp/prometheus.yml:/etc/prometheus/prometheus.yml \
                   prom/prometheus
                </code>
            </pre>

    <h2 id="prometheus">prometheus</h2>

    <p>The Prometheus monitoring system and time series database. <a href="https://github.com/prometheus/prometheus"><i class="fa fa-github"></i> prometheus/prometheus</a></p>

    <div class="panel panel-default download-selection">
        <div class="panel-body">
            选择系统：
            <div class="btn-group os">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <!--默认值-->
                    <span class="caption">公募代销</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">全 部</a></li>
                    <!-- 分割线 -->
                    <li role="separator" class="divider"></li>
                    <li><a href="#">公募代销</a></li>
                    <li><a href="#">公募控台</a></li>
                    <li><a href="#">私募代销</a></li>
                    <li><a href="#">私募控台</a></li>
                </ul>
            </div>
            接口类型：
            <div class="btn-group arch">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caption">全 部</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">全 部</a></li>
                    <!-- 分割线 -->
                    <li role="separator" class="divider"></li>
                    <li><a href="#">交易类</a></li>
                    <li><a href="#">账户类</a></li>
                    <li><a href="#">查询类</a></li>
                    <li><a href="#">定投类</a></li>
                    <li><a href="#">服务类</a></li>
                </ul>
            </div>
        </div>
    </div>

    <table class="table table-bordered downloads">

        <thead>
        <tr>
            <td colspan="5">
                <strong>当前版本：</strong>
                <small><a href="https://github.com/prometheus/prometheus/releases/tag/v1.5.2">1.5.2 / 2017-02-10</a></small>
            </td>
        </tr>
        <tr class="first">
            <th>功能号</th>
            <th>功能名称</th>
            <th>接口名</th>
            <th>最新日期</th>
            <th>操 作</th>
        </tr>
        </thead>
        <tbody>

        <tr data-os="darwin" data-arch="386">
            <td class="filename"><a class="download" href="###">Q101</a></td>
            <td>基金交易查询</td>
            <td>ttysale.query.trade.list</td>
            <td>20170212</td>
            <td class="checksum">编 辑 | 测 试 </td>
        </tr>

        <tr data-os="darwin" data-arch="386">
            <td class="filename"><a class="download" href="###">Q101</a></td>
            <td>基金交易查询</td>
            <td>ttysale.query.trade.list</td>
            <td>20170212</td>
            <td class="checksum">编 辑 | 测 试 </td>
        </tr>

        <tr data-os="darwin" data-arch="386">
            <td class="filename"><a class="download" href="###">Q101</a></td>
            <td>基金交易查询</td>
            <td>ttysale.query.trade.list</td>
            <td>20170212</td>
            <td class="checksum">编 辑 | 测 试 </td>
        </tr>

        <tr data-os="darwin" data-arch="386">
            <td class="filename"><a class="download" href="###">Q101</a></td>
            <td>基金交易查询</td>
            <td>ttysale.query.trade.list</td>
            <td>20170212</td>
            <td class="checksum">编 辑 | 测 试 </td>
        </tr>

        <tr data-os="darwin" data-arch="386">
            <td class="filename"><a class="download" href="###">Q101</a></td>
            <td>基金交易查询</td>
            <td>ttysale.query.trade.list</td>
            <td>20170212</td>
            <td class="checksum">编 辑 | 测 试 </td>
        </tr>

        <tr data-os="darwin" data-arch="386">
            <td class="filename"><a class="download" href="###">Q101</a></td>
            <td>基金交易查询</td>
            <td>ttysale.query.trade.list</td>
            <td>20170212</td>
            <td class="checksum">编 辑 | 测 试 </td>
        </tr>

        </tbody>

    </table>


</div>
<%}%>

